body {
  margin: 0;
  font-family: 'Segoe UI', 'SegoeUI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #191919;
  --primary-contrast-color: #5B2330;
  --logo-secondary-collor: #5B2330;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.btn-primary-contrast{
  background-color: var(--primary-contrast-color) !important;
  color: aliceblue !important;
}





