:root {
  --primary-color: #191919;
  --primary-contrast-color: #06D6A0;
  --primary-contrast-color-1: #FFD166;
  --logo-secondary-collor: #5B2330;
  --secondary-contracts-color: #06D6A0;
  --third-contracts-color: #EF476F;
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'SegoeUI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.btn-primary-contrast{
  background-color: var(--primary-contrast-color) !important;
  color: rgb(255, 255, 255) !important;
  transition: all 100ms ease-in-out;
}

.btn-primary-contrast:hover{
  background-color: white !important;
  color: var(--primary-contrast-color) !important;
  box-shadow: -2px 3px 8px var(--primary-color);
    transition: all 100ms ease-in-out;
}






